/*
 * @Author: xiangmin 
 * @File: 公共样式表
 * @Date: 2017-10-23 17:56:50 
 * @Last Modified by: xiangmin
 * @Last Modified time: 2017-10-24 18:29:04
 */
.public-box {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
}

/**
* 修改按钮组样式
*/